/* TODO update colors and styling to look decent more professional */
a {
    text-decoration: none;
    color: #0049b7;
}

a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #0049b7;
    border-radius: 5px;
}

body {
    background-color: #fff78559;
}

button:hover {
    cursor: pointer;
}

button a {
    color: #0049b7;
    background-color: rgb(255, 255, 255);
}

button {
    border-radius: 5px;
    background-color: white;
}

h1 {
    color: #0049b7;
}

h3 {
    color: #0049b7;
}

img {
    height: 200px;
    border-radius: 5px;
}

li.post a {
    color: #0049b7;
}

navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    color: #0049b7;
}

textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.back_button {
    background-color: #00DDFF;
    color: white;
    position: sticky;
    text-align: center;
    text-decoration: none;
    width: 10vw;
    border: 1px solid #0049b7;
    border-radius: 5px;
}

.back_button:hover {
    background-color: white;
    color: #0049b7;
    position: sticky;
    text-align: center;
    text-decoration: none;
    width: 10vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.delete button {
    background-color: #ff1D58;
    border: 1px solid white;
    color: white;
}

.edit button {
    background-color: rgb(183, 230, 198);
    border: 1px solid white;
    color: rgb(245, 248, 250);
}

.flash {
    display: inline-block;
    color: #0049b7;
    background-color: white;
    border: 1px solid #0049b7;
    border-radius: 5px;
}

.user_form_container {
    margin: 0px auto;
}

#user_container {
    align-items: center;
    background-color: #fff785;
    border: 2px solid #0049b7;
    border-radius: 5px;
    box-shadow: 8px 5px 10px #00DDFF;
    display: flex;
    height: 200px;
    flex-direction: row;
    width: 50vw;
}

#post_container {
    display: flex;
    color: rgb(26, 2, 2);
    background-color: #fff785;
}

#tag_container ul {
    display: inline-block;
    flex-direction: column;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 0 auto;
}

#post {
    background-color: #fff785;
}