{% extends "base.html" %} {% block title %}{{user.full_name(user.id)}} Details{% endblock %} {% block content %}
<h1>User Detail Page</h1>
<img src="{{user.image_url}}" alt="user image" />

<h3>{{user.full_name(user.id)}}</h3>

<form action="/users/{{user.id}}/edit">
  <button>Edit</button>
</form>
<!-- <button><a href="/users/{{user.id}}/edit">Edit</a></button> -->

<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete</button>
</form>
<!-- <button><a href="/users/{{user.id}}/delete">Delete</a></button> -->

<a href="/">Back</a>
{% endblock %}
